


    {%load static%}
    {%for product in products%}
        
            <div class="itm-block">
                
                <div class="prod-img">
                    <a href = "{% url 'product_page' pk=product.id %}" >
                        <img src="{% static product.image%}" alt="product picture">
                    </a>
                </div>
                <a href = "{% url 'product_page' pk=product.id %}" >
                    <div class="product-name text-center">
                        {{product.title}}
                    </div>
                    <div class="product-price text-center">{{product.price}}</div>
                </a>
                <div class="add-to-basket">
                    <button type="button" class="btn btn-primary" 
                    hx-target="#header-basket-info"
                    hx-get="{%url 'add-to-basket' product_id=product.id%}"
                    hx-trigger="click"
                    >Į krepšelį</button>

                </div>
            </div>
        </a>
    {%endfor%}





    {% comment %}

    atributai
    {%for atr in aaaa%}
        <p>{{atr.property}}-{{atr.value}}</p><br />
    {%endfor%}


    only property
    {%for atr in only_property%}
        <p>{{atr}}</p><br />
    {%endfor%}


    only value
    {%for atr in only_values%}
       
        <p>{{atr.property}}-{{atr.value}}</p><br />
    {%endfor%}
    dsfjkdsahfkjdsahfkjadhskjfh {% endcomment %}

  





