body, body a{
    color: black;
}


.link-secondary{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.grid-container{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#left_side_continer{
    max-width:40%;
    width: 25%;
    text-align: center;
}
.itm-block{
    max-width: 350px;
    padding: 15px 30px;
}
.itm-block .cat-img img{
    margin: auto;
    width:100%;
}
.prod-img{
    text-align: center;
}


.cat-img{
    padding: 5px;
}

.flex{
    display: flex;
}

.prod-img img{
    width: 100%;
}
.text-decoration-none{
    text-decoration: none;
}

.add-to-basket > .btn-primary{
    border-radius: 0px;
    background-color: transparent;
    color: black;
    border: solid 1px black;
    width: 100%;
}
.font-20{
    font-size:20px;
}
.padding-top-7{
    padding-top: 7px;;
}
.bi-person::before{
    font-size:25px;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.log_out_link{
    right: 0px;
    bottom: -10px;
    font-size: 12px;
}
.btn.btn-outline-dark{
    background: #0065f9;
    border: 1px solid #0065f9;
    border-radius: unset;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0px;
    padding: 15px 0px;
}

.pagination{
    padding: 15px 30px;
}

.ord-1{
    order:1;
}
.ord-2{
    order:2;
}

/* categories css */

.category-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.category-link{
    text-decoration: none;
    color: initial;
}
/* categories css ends */

/* attributes css */

.attribute-name{
    font-weight: bold;
    font-size: 20px;
}

#left_side_continer .form-check{
    padding-left: 0px;
}

/* attributes css end */


/* shopping cart css */

#shopping-cart-table .product-image{
    max-width: 200px;
}
#shopping-cart-table{
    width:100%;
}

.total-price-text{
    text-align: right;
    padding: 0px 30px;
    font-weight: bold;
    font-size: 20px;
}



/* shopping cart end */

/* account css */
.account-email{
    font-size: 16px;
    line-height: 40px;
}


/* account css end */


/* checkout page*/
.delivery-types .form-check{
    border: solid 1px #ebebeb;

    margin: 15px 0px;
}
.delivery-types .form-check-input[type=radio]{
    margin: 25px 15px;
}
.delivery-types .form-check-label{
    display: block;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 45px;
}
#delivery-info .form-group{
    margin: 15px 0px;
}
#order-confirmation-form label{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

/* checkout end */
