


    {%load static%}
    {%for product in products%}
        
            <div class="itm-block">
                
                <div class="prod-img">
                    <a href = "{% url 'product_page' pk=product.id %}" >
                        <img src="{% static product.image%}" alt="product picture">
                    </a>
                </div>
                <a href = "{% url 'product_page' pk=product.id %}" >
                    <div class="product-name text-center">
                        {{product.title}}
                    </div>
                    <div class="product-price text-center">{{product.price}}&euro;</div>
                </a>
                <div class="add-to-basket">
                    <button type="button" class="btn btn-primary" 
                    hx-target="#header-basket-info"
                    hx-get="{%url 'add-to-basket' product_id=product.id%}"
                    hx-trigger="click"
                    >Į krepšelį</button>

                </div>
            </div>
        </a>
    {%endfor%}
    
    {% load pagination_buttons %}
    {%pagination_buttons1 products.paginator products.number as page_range%}

    {%if products.paginator.num_pages > 1%}
    <ul class="pagination col-12">    
    {% for i in page_range %}
            {% if products.number == i %}
                <li class="active page-item">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                {% if i == products.paginator.ELLIPSIS %}
                    <li class="page-item">
                        <span class="page-link">{{ products.paginator.ELLIPSIS }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <button class="page-link" hx-trigger="click" hx-target=".grid-container" hx-get="?page={{ i }}">{{ i }}</button>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    {%endif%}


  





