{%load static%}
<div class="table-responsive">
    <table id="shopping-cart-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for item in shoppingbasket%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <image src="{% static item.product.image%}" class="product-image"/>
                </td>
                <td>
                    <div class="product-title">
                        <a href={%url 'product_page' pk=item.product.id%}>{{item.product.title}}</a> 
                        </div>
                    <div class="product-attributes">
                        {% comment %} <span>spalva:raudona</span>
                        <span>dydis:L</span>
                        <span>Spalva:zalia</span>
                        <span>Ipakuoti kaip dovana: Taip</span> {% endcomment %}
                    </div>
                </td>
                <td>
                    <span class="product-price">{{item.product.price}}&euro;</span>
                </td>
                <td>
                    <button class="btn btn-link"
                        hx-trigger="click"
                        hx-get="/cart/delete/{{item.product.id}}"
                        hx-target="#shopping-cart"
                    >Pašalinti</button>
                </td>
            </tr>


    {%endfor%}

    <tr class="order-total-row">
        <td colspan="3">
            <div class="total-price-text float-right">Viso:</div>
        </td>
        <td >
            <span class="total-price">{{total_sum}}&euro;</span>
        </td>
        <td></td>

    </tr>
    </table>
</div>  


<div id="header-basket-info" hx-target="#header-basket-info" hx-trigger="load" hx-get="{%url 'mini-shopping-basket'%}" hx-swap-oob="true">

</div>